*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/caches/resolve_glance.xml
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/dictionaries
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/icon.png
/.idea/libraries
/.idea/migrations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/scopes
/.idea/shelf
/.idea/vcs.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# App module specific
/app/build

# Local rules
.geminirules
